body{
    background-image: url("../../assets/img/fundoEstudanteEadm.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 411px;
    height: 274px;
    flex-shrink: 0;
    aspect-ratio: 3/2;
    border-radius: 100px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.card{
    background-color: rgba(255, 255, 255, 0.5) !important;
    justify-content: center !important;
    align-items: center !important;
    height: 40rem;
}

.btn{
    width: 28rem;
    height: 4rem;
}

.d-grid{
    justify-content:center;
    align-items: center;
}

.row{
    justify-content: space-between;
}

.card{
    padding: 5rem;
}
