* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #16419C;
    display: flex;
    justify-content: end;
    padding: 10px;
}




.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    
}

.sorteador{
    background-color: #2C76FF80;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}

.imagemAmarela{
    display: flex;
    justify-content: center;
    justify-content: end;
    align-items: center;
    background-color: #FFAC53;
    padding: 25px 0;
    margin-top: 15px;
    width: 100%;

}

.imagemAmarela img {
    width: auto;
    max-width: 90%;
    height: auto;
    display: block;
    padding:  0;
}

