* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
}

header {
    background-color: #FFD54F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}



main {
    background-color: #A8BFEA;
    padding: 230px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.text {
    align-items: center;
    max-width: 500px;
    color: white;
    margin: 50px;
    
}

.text h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;

}

.text h1  {
    display: block;
}

.text p {
    font-size: 14px;
    margin-top: 20px;
    color: #f4f4f4;
}

.image img {
    max-width: 400px;
    margin: 30px;
    width: 900px;
}

a {
    text-decoration: none;
    align-items: center;
    background-color: #FFD54F;
    
}

.navbar {
    height: 8vh;
}

.logo {
    height: 40px;
    margin-right: 10px;
}
