* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-principal: #001F63;
    --text-link: #ffffff;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/fundopreCadastro.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.abhaya-libre-semibold {
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
    font-style: normal;
}

.container {
    width: 100vw;
    height: 100vh;
}

.divImg {
    width: 13rem;
    height: 13rem;
    top: -5rem;
}

.inputUser {
    height: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 25px;
    background-color: rgba(22, 65, 156, 0.4);
}

.inputSenha {
    height: 3rem;
    border-radius: 25px;
    background-color: rgba(22, 65, 156, 0.4);
}

.textLogin {
    color: var(--text-principal);
}

.link {
    color: var(--text-link);
}

.card {
    background-color: rgba(235, 237, 240, 0.5) !important;
}

::placeholder {
    color: var(--text-link);
}

@media only screen and (max-width: 600px ) {
    .divImg {
        height: 10rem;
        width: 10rem;
    }
}